<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 col-sm-3 text-justify pd-5">
      <div class="emprestei-name">emprestei</div>
      <span>
        O seu sistema de controle de emprestimos pessoais
      </span>
    </div>
    <div class="col-md-4 col-sm-12 shadow p-3 mb-5 bg-white rounded">
      <form [formGroup]="loginForm" class="form mt-4" (submit)="doLogin()">
        <div *ngIf="loginError" class="alert alert-danger alert-dismissible fade show" role="alert">
          Nome de usuário e senha inválidos!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div [ngClass]="{'text-danger': hasError('required', 'userName')}">
          Nome de usuário
        </div>
        <div class="form-group">
          <input [ngClass]="{'input-validated': hasError('required', 'userName')}" #userNameInput formControlName="userName"
            class="form-control" placeholder="user name" autofocus />
      
        </div>
      
        <div [ngClass]="{'text-danger': hasError('required', 'userName')}">
          Senha
        </div>
        <div class="form-group">
          <input formControlName="password" type="password" class="form-control" placeholder="password" />
        </div>

        <div class="text-center default-link">
          <a href="#">Esqueci minha senha</a>
        </div>

        <button type="submit" class="btn btn-primary-emprestei mt-3 btn-block">
          Entrar
        </button>

        <hr>

        <div class="text-center">
          <button type="submit" class="btn btn-secondary-emprestei pl-3 pr-3">
            Cadastre-se
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
