<li class="list-group-item">
    <form [formGroup]="loanForm" class="form mt-4">
        <div class="form-row">
                <div class="form-group" col-md-8>
                    <label for="description">Descrição:</label>
                    <input #loanInput 
                    formControlName="loan_description" 
                    class="form-control" 
                    value="" 
                    >  
                </div>
                <div class="form-group" col-md-2>
                    <label for="loanDate">Data do empréstimo:</label>
                    <input 
                    formControlName="loan_date" 
                    class="form-control" 
                    value="" 
                    >  
                </div>
                <div class="form-group" col-md-2>
                    <label for="loanReturnDate">Data de devolução:</label>
                    <input 
                    formControlName="loan_return_date" 
                    class="form-control" 
                    value="" 
                    >  
                </div>
        </div>
            <div class="form-group">
                <label for="loanToName">Emprestou para:</label>
                <input 
                formControlName="loan_to_name" 
                class="form-control" 
                value="" 
                >  
            </div>
            <div class="form-group">
                <label for="observation">Observação:</label>
                <textarea 
                rows="3"
                formControlName="loan_observation" 
                class="form-control" 
                value="" 
                ></textarea>  
            </div>
            <div class="form-group">
                <label for="loanEstimatedValue">Valor estimado do empréstimo:</label>
                <input 
                formControlName="loan_estimated_value" 
                class="form-control" 
                value="" 
                >  
            </div>
    </form>
</li>
